<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<html>
<title>{% block title %} TheQue - {{ page_title }} {% endblock %}</title>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-compatible" content="IE=edge">
<link href="{{ url_for('static', filename='css/gfonts.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='backstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
<link href="{{ url_for('static', filename='css/afade.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='backstrap/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='backstrap/js/bootstrap.min.js') }}"></script>
{{ cssify('static/css/main.less') }}
{{ cssify('static/css/spacing.less') }}
<style>
 body {
     background-color: black;
     background-image: url('/static/images/dbg.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
 }

</style>
</head>

<body>
<div class="cover vertical-center">
    <div class="container">
        <div class="row">

	    </div>
    </div>
</div>
</body>
</html>
